@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
  --White:#ffffff;
  --LightGray:#d6e2f0;
  --GrayishBlue:#7b879d;
  --DarkBlue:#1f3251;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  font-family: 'Outfit', sans-serif;;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
}

.container{
  text-align: center;
  padding: 15px;
  max-width: 300px;
  background-color: var(--White);
  border-radius: 1rem;
}

img{
  width: 100%;
  border-radius: 1rem;
}

p:nth-child(1){
  font-size: 22px;
  font-weight: 700;
}
p:nth-child(2){
  font-size: 15px;
  color: var(--GrayishBlue);
}

